.container {
    width: 100%;
   
    /* height: 100%; */
    /* border: 1px solid #000; */
    /* margin: 0 auto; */
  }
  .empListBox {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: yellow; */
  }
  
  .empListHeaders {
    display: block;
    height: 100%;
  }
  .wrapper {
    display: flex;
  
    margin: 30px;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }
  .empListHead {
    text-align: center;
    /* border: 1px solid #000; */
    width: 20%;
    height: 10%;
  }
  .contentTitle {
     font-size: 25px;
  }
  input {
    margin-left: 10%;
  }
  .buttonContainer {
    margin-top: 10px;
    text-align: center;
  }