#loginBox {
    /* color:red; */
}

.mainStyle {
    display: flex;
    /*background-color: green;*/
}

.changeArea {
    width: 85%;
    /*background-color: blue;*/
    /*border: 1px solid black;*/
    height: 100vh;
    padding: 20px;
}


.topNav {
    /*border: 2px solid blue;*/
    height: 100px;
    margin-bottom: 10px;
}

/* DashBoard.module.css */

.tabBar {
    display: flex;
    flex-direction: row; /* 탭을 가로 방향으로 정렬 */
    margin-bottom: 15px;
}

.tabItem {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: navy;
    margin-right: 3px; /* 탭 사이 간격 설정 */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    color:white;
}
.tabItem:hover {
    background-color: #de8a2c;
}

.tabCloseBtn {
    /* 버튼의 기본 스타일 제거 */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
}
