#loginBox {
    /*color:red;*/
}

.mainStyle {
    display: flex;
    /*background-color: green;*/

}

.changeArea {
    width: 85%;
    /*background-color: blue;*/
    border: 2px solid red;
    height: 100vh;
    padding: 30px;
}

.topNav {
    border: 2px solid blue;
    height: 50px;
    margin-bottom: 20px;
}