#divideSections {
    display: flex;
    flex-direction: column;
    /*background-color: #61dafb;*/
}

.buttonsArea {
    display: flex;
    justify-content: space-between;
    /*background-color: orange;*/
    margin-bottom: 10px;
}

.searchBox {
    background-color: orange;
    padding:10px;
    display: flex;
    justify-content: space-around;
}

.searchSection1{
    flex-direction: row;
    /*border: 2px solid red;*/
    justify-content: space-between;
}

.searchSection2{
    flex-direction: row;
    /*border: 2px solid blue;*/
}

.tableArea {
    background-color: green;
}