.searchTabs{
    /*background-color: red;*/
    float: right;
}

.searchBox {
    background-color: orange;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchSection{
    /*border: 2px solid red;*/
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
/*    한 줄에 2개의 form 이 생성됨 */
}


.tableArea {
    /*background-color: green;*/
}