
.buttonsArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 2px solid black;*/
}

.searchBox {
    background-color: #687499;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchSection{
    /*border: 2px solid red;*/
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    /*    한 줄에 2개의 form 이 생성됨 */
}

.divStyle {
    /*padding-left: 30px;*/
    font-weight: 800;
    /*border: 2px solid red;*/
    background-color: #687499;
}




