.headerContainer {
    display: flex;
    justify-content: space-between;
    
}
.searchContainer {
    display: flex;
    
    margin-right: 20px;

}
.rightContainer {
    display: flex;
    justify-content: space-between;
}
.insertTag {
    margin-right: 5px;
}