.errorBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*border: 2px solid red;*/
    align-items: center;
}

.errorText {
    margin-top: 150px;
    font-size: 25px;
}

.errorSmallText {
    margin-top: 50px;
    font-size: 20px;
}